/* ProductList.scss */

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.product-filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20px;

  .filter-select {
    min-width: 200px;
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  max-width: 300px;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .product-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    text-align: center;
  }

  .product-description {
    font-size: 0.9rem;
    color: #777;
    text-align: justify;
  }

  .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1abc9c;
    text-align: center;
    margin: 10px 0;
  }
}

.confirmation-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
